@import '@styles/-variables.module.scss';
@import '@styles/_mixins.module.scss';

    
.box {
   background-color: white; 
   padding: 10px;
   border-radius: 4px;
   margin-top: 50px;

}

.title{
    font-size: 18px;
    color: $seconddary_color;
}